# Name of application
title = "Test";
# Fields names
fields = {"name", "Student_ID", "A1", "A2", "A3", "A4", "Average" };
# Button names
buttons = { "Update", "Add", "Delete", "Query" };

# Types of named fields
name = string;
Student_ID = integer;
A1 = integer;
A2 = integer;
A3 = integer;
A4 = integer;
Average = integer;

# ActionListener classes for buttons
Add = TestListener;
Update = TestListener;
Delete = TestListener;
Query = TestListener;
