title = "Video Way Customer Records";    # Video Way db application

fields = { "MemberNumber",
           "LastName",
           "FirstName",
           "Address",
           "TotalRentals",
           "Account_balance"};

# Here are some database-looking buttons (wonder where this is going...)
buttons = { "Add", "Update", "Delete", "Query", "Print" };

#!#

#
# Field type declarations
#
MemberNumber = "integer";
LastName = "string";
FirstName = "string";
Address = "string";
TotalRentals = "integer";
Account_balance = "float";

#
# Button function declaration
#
Add = "QueryListener";
Update = "QueryListener";
Delete = "QueryListener";
Query = "QueryListener";
Print = "QueryListener";
